---
import {slugify} from "../../dist/helpers/string.js";
interface Props {
    title: string;
}

const { title } = Astro.props;
const { slug } = Astro.params;
const show = slugify(title) === slug;
---

{ show && <div data-celestial-story={slugify(title)}>
    <slot />
</div> }

<style>

</style>
