---
import {slugify} from "../../dist/helpers/string.js";
interface Props {
    title: string;
    layout?: 'fullscreen' | 'center';
    background?: 'default' | 'dark' | string;
}

const { title, layout, background } = Astro.props;
const { slug } = Astro.params;
const show = slugify(title) === slug;
const backgroundClass = ['default', 'dark'].includes(background) ?  background : !background ? 'default' : 'color';
---

{ show &&
    <div
        class:list={[`layout--${layout || 'center'}`, `background--${backgroundClass}`]}
        data-celestial-doc={slugify(title)}
    >
      <slot />
    </div>
}

<style define:vars={{ 'docs-local-background': background }}>
.layout--center {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.layout--fullscreen {
    width: 100%;
    min-height: 100vh;
}

.background--default {
    background-color: white;
}


.background--dark {
    background-color: #333;
}

.background--color {
    background-color: var(--docs-local-background);
}
</style>
